/* IPAD */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
}

/* MOBILE */
@media only screen and (max-width: 739px) {
  /* overflow: hidden; */
  #header {
    overflow: hidden;
    position: fixed;
  }

  #header .search-btn {
    display: none;
  }

  #nav > li {
    display: block;
  }

  #header .menu-btn {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 21px;
    text-align: center;
    display: block;

  }
  
  #header .menu-btn:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
  }

  #header .menu-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
  }

  #nav, .subnav {
    display: block;
    position: relative;
  }

  #nav > li:first-child {
    /* display: inline-block; */
    background-color: #009688;
  }

  #nav li:not(:last-child, :first-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  #content .member-list {
    display: none;
  }
}