/* Rest CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /*The CSS box-sizing property allows us to include the padding and border in an element's total width and height.*/
}

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/*
1. Tu ngoai vao trong
2. Tu tren xuong duoi
3. Tong quan den chi tiet
*/

/* 
1. Vi tri
2. Kich thuoc
3. Mau sac
4. Kieu dang(kieu chu, hinh tron, vuong)
*/

/*
1. Tu ngoai vao trong
2. Tu tren xuong duoi
3. Tong quan den chi tiet
*/

/* 
1. Vi tri
2. Kich thuoc
3. Mau sac
4. Kieu dang(kieu chu, hinh tron, vuong)
*/

#main {
  
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: 46px;
  background-color: #000;
}

#nav {
  display: inline-block;
}

#nav, .subnav {
  list-style-type: none;
}

#nav > li {
  display: inline-block;
}

#nav li {
  position: relative;
}

#nav > li > a {
  color: #fff;
  text-transform: uppercase;
}

#nav li a {
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
  display: block;
}

#nav li:hover .subnav {
  display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a
{
  color: #000;
  background-color: #ccc;
}

#nav .subnav {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 160px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
  color: #000;
  padding: 0 12px;
  line-height: 38px;
}

#nav .nav-arrow-down {
  font-size: 12px;
}

#header .search-btn {
  float: right;
  padding: 0 21px;
}

#header .search-btn:hover {
  background-color: #f44436;
  cursor: pointer;
}

.search-btn .search-icon {
  color: #fff;
  font-size: 20px;
  line-height: 46px;
}

#slider {
  /* min-height: 1000px; */
  background-color: #333;
  margin-top: 46px;
  padding-top: 50%;
  background: url(/project01-landing-page/assets/img/chicago.jpg) top center /cover no-repeat;
  position: relative;
}

#slider .text-content {
  color: #fff;
  position: absolute;
  bottom: 47px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.text-content > .text-heading {
  font-size: 24px;
  font-weight: 500;
}

.text-content > .text-description {
  font-size: 15px;
  margin-top: 24px;
}

#content {
}

#footer .content-section,
#content .content-section {
  padding: 64px 16px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.bg-dark {
  background-color: #000;
}

.content-section.bg-dark > .section-heading, 
.content-section.bg-dark > .section-sub-heading {
  color: #fff;
}

.content-section > .section-heading {
  text-align: center;
  font-weight: 300;
  font-size: 30px;
}

.content-section > .section-sub-heading {
  margin: 15px 0;
  text-align: center;
  font-style: italic;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.6);
}

.section-container {
  max-width: 800px;
  width: 100%;
}

.section-container > .about-text {
  text-align: justify;
  margin: 15px 15px;
  font-size: 15px;
} 

.section-container > .about-member {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-member .member-detail {
  min-height: 200px;
  min-width: 196px;
  text-align: center;
  margin: 10px 10px;
  position: relative;
  /* display: inline-block; */
}
.member-detail .member-name {
  margin: 15px 0;
  font-size: 15px;
}
.member-detail .member-avatar {
  width: 139px;
  height: 139px;
  background: url(/project01-landing-page/assets/img/bandmember.jpg) top center / cover no-repeat;
  border-radius: 4px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.ticket-list {
  color: #fff;
  list-style-type: none;
}

.ticket-list li {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid #ddd;
  padding: 8px 16px;
  position: relative;
}

.ticket-list .ticket-tag {
  background-color: red;
  color: #fff;
  padding: 0 8px;
  margin-left: 16px;
}

.ticket-list .ticket-count {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  padding: 3px 3px;
  margin-right: 3px;
  color: #fff;
  background-color: #000;
  border-radius: 50%;
  text-align: center;
}

.ticket-content {
  color: #000;
  list-style-type: none;
  padding: 32px 0;
  display: flex;
  justify-content: center;
}

.ticket-content > li {
  margin-left: 8px;
  width: 100%;
}

.ticket-content > li:first-child {
  margin-left: 0px;
}

.ticket-content .ticket-sub-content {
  background-color:#fff;
  padding: 15px 16px;
  font-size: 15px;
}

.ticket-content .ticket-content-img {
  width: 100%;
  /* height: 150px; */
  object-fit: cover;
}

.ticket-sub-content .ticket-sub-location {
  font-weight: bold;
  margin-bottom: 15px;
}

.ticket-sub-content .ticket-sub-date {
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 15px;
}

.ticket-sub-content .ticket-sub-desc {
  margin-bottom: 15px;
}

.ticket-sub-content .btn-buy {
  background-color: #000;
  color: #fff;
  padding: 10px 10px;
  border-radius: 5px;
}

.ticket-sub-content .btn-buy:hover {
  background-color: #ccc;
  color: #000;
  cursor: pointer;
}

.section-container.section-col {
  display: flex;
  padding: 32px 0px 0px;
}

.section-col > div {
  width: 50%;
}

.contact-info > p {
  line-height: 30px;
  font-size: 15px;
  font-weight: 400;
}

.contact-info > p > i {
  margin-right: 8px;
  font-size: 20px;
  font-weight: 500;
}


.contact-form  input {
  width: 100%;
  padding: 8px 8px;
  border: 1px solid #ccc;
}

.contact-form .btn-send {
  float: right;
  padding: 8px 16px;
  margin: 16px 0;
  color: #fff;
  background-color: #000;
}

.row-2 {
  display: flex;
  margin-bottom: 16px;  
}

.row-2 input:not(:last-child) {
  margin-right: 16px;
}

#map {
  width: 100%;
  padding-top: 50%;
  background: url(/project01-landing-page/assets/img/map.jpg) top center / cover no-repeat;
}

#footer .section-container {
  display: flex;
  flex-flow: column;
  align-items: center;
}
