/* Rest CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /*The CSS box-sizing property allows us to include the padding and border in an element's total width and height.*/
}

html {
  font-family: Helvetica, Arial, sans-serif;
}

/*
1. Tu ngoai vao trong
2. Tu tren xuong duoi
3. Tong quan den chi tiet
*/

/* 
1. Vi tri
2. Kich thuoc
3. Mau sac
4. Kieu dang(kieu chu, hinh tron, vuong)
*/

#main {

}

#header {
  height: 46px;
  background-color: #000;
}

#nav li {
  display: inline-block;
}

#nav li a {
  color: #fff;
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
  display: inline-block;
}

#nav li:hover a {
  color: #000;
  background-color: #ccc;
}

#nav .subnav {
  display: none;
}

#slider {

}

#content {

}

#footer {

}
